#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
    background-color: black;
}



/* Full-page GIF background */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover; /* Ensures the GIF covers the entire screen */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevents scrolling */
}


/* Social media buttons container */
.social-buttons {
    display: flex;
    gap: 20px;
    justify-content: center; /* Centers the buttons horizontally */
    align-items: center; /* Centers the buttons vertically */
}

/* Social media buttons */
.social-btn img {
    width: 50px; /* Customize the size of the images */
    height: 50px;
    border-radius: 50%; /* Optional: makes the buttons circular */
    transition: transform 0.7s ease;
}

.social-btn img:hover {
    transform: scale(1.1); /* Scale effect when hovering */
}